header {
    background-color: #928C68;
    text-align: center;
    padding-bottom: 5%;

    p {
        // font-size: clamp(1.125rem, 0.641vw + 0.981rem, 1.75rem);
        max-width: 1050px;
        margin: 0 auto;
        line-height: 2;

        span {
            font-size: 2.5rem;
        }
    }

    &>p {
        padding: 3% 0% 4%;
        text-align: justify;
        box-sizing: border-box;

        @media screen and (max-width: 1000px) {
            padding: 0% 3%;
            width: 95vw;
        }
    }

    .ayelet_info {
        background-color: $backgroundColorLight;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }

        p {
            width: 50vw;
            text-align: start;
            margin: auto auto;
            padding: 0% 3%;
            box-sizing: border-box;
            line-height: 2;

            @media screen and (max-width: 1000px) {
                width: 95vw;
            }
        }

        div {
            display: flex;
            width: 50vw;

            @media screen and (max-width: 1000px) {
                width: 100vw;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}