.ayelet_works {
    margin: 5% 0%;

    &__image {
        div {
            max-width: 410px;
            margin: 0% auto;
            min-width: 320px;
        }

        img {
            width: 95%;
            margin: 0 auto;
            height: 100%;
            border-radius: 60px;
        }
    }
}