@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
    font-family: "Comix";
    src: url("../assets/fonts/comix/ComixNo2CLM-Medium.ttf") format(truetype);
}

@font-face {
    font-family: 'Amatica SC Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Amatica SC Regular'), url('../assets/fonts/Amatica/AmaticaSC-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Amatica SC Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Amatica SC Bold'), url('../assets/fonts/Amatica/AmaticaSC-Bold.woff') format('woff');
}

// @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


$backgroundColorLight: #E7D7CD;

body {
    margin: 0%;
    padding: 0%;
    background-color: $backgroundColorLight;
    font-family: "Comix";
}

h2 {
    font-size: clamp(1.875rem, 1.603vw + 1.514rem, 3.438rem);
    // font-size: 3.4rem;
    margin-right: 2%;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 15%;
}

.workshop__options {
    margin: 5% auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(323px, 1fr));

    &--item {
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        &:hover .workshop__options--window {
            position: absolute;
            top: 0;
            background-color: rgba(146, 140, 104, 0.8);
            border-radius: 50px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // display: none;
        }
    }

    &--window {
        display: none;
        // position: absolute;
        // top: 0;
        // background-color: rgba(146, 140, 104, 0.8);
        // border-radius: 50px;
        // width: 100%;
        // height: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
    }

    &--text {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: 3rem;
            font-family: "Amatica SC Bold", sans-serif;
            margin: 0;
            text-align: center;
        }

        p {
            font-family: "Amatica SC Bold", sans-serif;
            text-align: center;
            font-size: 2.25rem;
        }
    }
}

@import "./components/header";
@import "./components/works";