@font-face {
    font-family: "Comix";
    src: url("../assets/fonts/comix/ComixNo2CLM-Medium.ttf") format(truetype);
}

@font-face {
    font-family: 'Amatica SC Regular';
    src: local('Amatica SC Regular'), url('../assets/fonts/Amatica/AmaticaSC-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Amatica SC Bold';
    src: local('Amatica SC Bold'), url('../assets/fonts/Amatica/AmaticaSC-Bold.woff') format('woff');
}